<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007845862518-nlsp6ta4j44bn55t4t578esj61hh04pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007845862518-nlsp6ta4j44bn55t4t578esj61hh04pf</string>
	<key>API_KEY</key>
	<string>AIzaSyA6gXAXlXg6g4IsAHUiAId6EQ5_hPkHcJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1007845862518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.web.cupitter6</string>
	<key>PROJECT_ID</key>
	<string>cupitter-a</string>
	<key>STORAGE_BUCKET</key>
	<string>cupitter-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007845862518:ios:8918f900b0a4f5adc0c357</string>
</dict>
</plist>